
<!--Cabecera-->
<%- include('../Pagina/cabecera.ejs') %>

<section class="modulo-imagenes-ia">
    <div class="imagenes-ia-header">
        <h2>Revive la Historia con Inteligencia Artificial</h2>
        <p>
            "Nuestra tecnología de IA reconstruye escenas históricas a partir de documentos, descripciones y referencias históricas. Explora imágenes generadas que recrean momentos clave de la historia de Bolivia."
        </p>
    </div>

    <div class="imagenes-ia-form">
        <input type="text"
            placeholder="Describe la escena histórica que deseas generar...">
        <button>Generar Imagen</button>
    </div>

    <div class="imagenes-ia-subtitulo">
        <h3>Explorar Imágenes Generadas</h3>
    </div>

    <div class="imagenes-ia-grid">
        <img src="/img/galeria1.png" alt="Imagen generada 1" />
        <img src="/img/galeria2.png" alt="Imagen generada 1" />
        <img src="/img/galeria3.png" alt="Imagen generada 1" />
        <img src="/img/galeria4.png" alt="Imagen generada 1" />
        <img src="/img/galeria5.png" alt="Imagen generada 1" />
        <img src="/img/galeria6.png" alt="Imagen generada 1" />

    </div>
</section>

<!--Pie de pagina -->
<%- include('../Pagina/footer.ejs') %>
