
<!--Cabecera-->
<%- include('../Pagina/cabecera.ejs') %>


<section class="modulo-mapas">
    <h2 class="modulo-mapas-titulo">
      Evoluci贸n Geogr谩fica de Bolivia: Comparaci贸n de Mapas Hist贸ricos
    </h2>
  
    <div class="modulo-mapas-galeria">
      <img src="/img/mapa1.png" alt="Mapa hist贸rico Bolivia" />
      <img src="/img/mapa2.png" alt="Mapa f铆sico Bolivia" />
    </div>
  
    <div class="modulo-mapas-buscador">
      <span class="icono-busqueda"></span>
      <input type="text" placeholder="Escribe el a帽o para hacer tu comparacion..." />
      <button>Buscar</button>
    </div>
  </section>

  
<!--Pie de pagina -->
<%- include('../Pagina/footer.ejs') %>
