<footer class="footer-biblioteca">
    <div class="footer-biblioteca-contenido">
  
      <div class="footer-biblioteca-columna logo-col">
        <img src="/img/logo.png" alt="Logo Biblioteca Virtual" class="footer-logo" />
        <div class="logo_text_footer">
            <strong>ISS</strong>
            <span>LIBRERIA VIRTUAL</span>
        </div> 
        <p class="texto_logo_footer">
          Plataforma virtual de historia boliviana con libros digitales, generación de imágenes históricas e interacción vía chatbot.
        </p>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Secciones</h4>
        <ul>
          <li>Biblioteca Digital</li>
          <li>Chatbot Histórico</li>
          <li>Galería de Imágenes</li>
          <li>Gráficos Interactivos</li>
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Lo más consultado</h4>
        <ul>
          <li>Independencia de Bolivia</li>
          <li>Guerra del Pacífico</li>
          <li>Personajes históricos</li>
          <li>Cartas y documentos</li>
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Mapa del sitio</h4>
        <ul>
          <li>Inicio</li>
          <li>Servicios</li>
          <li>Acerca de</li>
          <li>Contacto</li>
        </ul>
      </div>
  
      <div class="footer-biblioteca-columna">
        <h4>Síguenos</h4>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Youtube</li>
          <li>TikTok</li>
        </ul>
      </div>
    </div>
  
    <hr />
    <p class="footer-biblioteca-copy">© 2025 Biblioteca Virtual Bolivia. Todos los derechos reservados.</p>
  </footer>

</body>
</html>
  