

<section class="modulo-historia-container">
    <div class="modulo-historia-imagen">
        <img src="/img/AI2.png" alt="Imagen histórica" />
    </div>
    <div class="modulo-historia-texto">
        <h1>Descubre la historia<br>con gráficos dinámicos con IA</h1>
        <p>
          Nuestra biblioteca virtual no solo te ofrece acceso a documentos históricos, sino también herramientas avanzadas para visualizar datos históricos de manera interactiva. Con gráficos dinámicos, mapas predictivos y análisis de tendencias, puedes explorar la evolución de Bolivia a lo largo del tiempo.
        </p>
        <ul class="modulo-historia-lista">
          <li>✅ Explorar tendencias históricas</li>
          <li>✅ Mapas históricos predictivos</li>
          <li>✅ Comparaciones temporales</li>
        </ul>
        <button class="modulo-historia-boton">Explorar Gráficos</button>

    </div>
  

  </section>


