
<section class="cultural-grid">
    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Guerras y Revoluciones</h3>
                <button class="cultural-link">Ver m치s</button>
            </div>
            <img src="/img/espadas.png" alt="Historia boliviana" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Personajes Historicos</h3>
                <button class="cultural-link">Ver m치s</button>
            </div>
            <img src="/img/soldado.png" alt="Autores bolivianos" class="cultural-img">
        </div>
    </article>

    <article class="cultural-card">
        <div class="cultural-content">
            <div class="cultural-body">
                <h3 class="cultural-title">Periodicos y Revistas</h3>
                <button  class="cultural-link">Ver m치s</button>
            </div>
            <img src="/img/periodico.png" alt="Documentos hist칩ricos" class="cultural-img">
        </div>
    </article>
</section>
